@import "tailwindcss";

:root {
  --color-primary-light: #CBF863;
  --color-primary: #8FC809;
  --color-primary-dark: #6EA307;
  --color-secondary: #DAFA8F;
  --color-surface: #FFFFFF;
  --color-mine: #8FC809;
}

@theme inline {
  --color-primary-light: #CBF863;
  --color-primary: #8FC809;
  --color-primary-dark: #6EA307;
  --color-secondary: #DAFA8F;
  --color-surface: #FFFFFF;
  --color-mine: #8FC809;
}

/* Masquer la scrollbar pour l'effet TikTok */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: var(--color-surface);
  color: #1a1a1a;
}